.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #ffffff;
    text-decoration: none;
  }

  .footer__link:hover {
    opacity: 0.8;
  }

  .footer__link:last-of-type {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 720px) {
    .footer__link {
      font-size: 10px;
      line-height: 12px;
    }
  }


  @media screen and (max-width: 475px) {
    .footer__link {
      font-size: 24px;
      line-height: 24px;
    }
  }