.lead__title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-bottom: 32px;
  }

  @media screen and (max-width: 720px) {
    .lead__title {
      max-width: 495px;
      font-size: 65px;
      line-height: 69px;
      padding-bottom: 16px;
    }
  }

  @media screen and (max-width: 475px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
      padding-bottom: 16px;
    }
  }