.place__paragraph {
    display: flex;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 26px;
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 26px;
    }
  }

  @media screen and (max-width: 475px) {
    .place__paragraph {
      padding-left: 16px;
      padding-right: 16px;
    }
  }