.footer__copyright {
    display: flex;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin: 0;
    
  }

  @media screen and (max-width: 720px) {
    .footer__copyright {
      font-size: 9px;
      line-height: 11px;
    }
  }

  @media screen and (max-width: 475px) {
    .footer__copyright {
      font-size: 14px;
      line-height: 14px;
      margin-top: 48px;
    }
  }