.header__button {
    font-family: "Inter";
    font-style: normal;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    margin: 0;
    margin-bottom: 6px;
    margin-top: 18px;
  }

  @media screen and (max-width: 320px) {
    .header__button {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 8px;
      margin-top: 14px;
    }
  }