.lead__subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    padding-bottom: 64px;
    margin: 0;
  }

  @media screen and (max-width: 1120px) {
    .lead__subtitle {
      padding-bottom: 56px;
    }
  }

  @media screen and (max-width: 720px) {
    .lead__subtitle {
      max-width: 445px;
      font-size: 21px;
      line-height: 25px;
      padding-bottom: 40px;
    }
  }

  @media screen and (max-width: 475px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 40px;
    }
  }