.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(./../../image/cover-trains.jpg);
    margin: 0 auto;
    background-size: cover;
    background-position:center;
    margin-top: 92px;
    text-decoration: none;
  }

  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
      min-height: 640px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      min-height: 480px;
      /* margin-top: 90px; */
      /* Полагаю,что это не требуется и можно оставить изначальные 92px. Погрешность макета*/
    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      min-height: 200px;
      margin-top: 66px;
    }
  }